# Xcode
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# Build
build/

# macOS
.DS_Store

# Swift Package Manager
.build/
.swiftpm/

# Claude Code
.claude/
